<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
  <h1 style="background-color: wheat; color: rgb(122, 115, 6);text-align: center; font-style: oblique;">Properties for sales</h1>
  <div class="card-deck" style="height: 700px;">
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">
          Property No:97098,<br>
          Number of rooms: 3 + kitchen<br>
          Size: 750 square feet<br>
          Rates:50lacs<br>
          Price: Available on request,<br>
          <img src="./assets/image10.jpg" alt="no img" width="750px" height="500px">
        </p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">
          Property No:41666,<br>
          Number of rooms: 2 + kitchen<br>
          Size: 750 square feet<br>
          Rates:5cr<br>
          Price: Available on request,<br>
          <img src="./assets/image13.jpg" alt="no img" width="800px" height="500px">
        </p>
      </div>
    </div>
  </div>
  <div class="card-deck" style="height: 700px;">
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">
          <img src="./assets/image14.jpg" alt="no img" width="800px" height="500px">
          
          Property No:68748,<br>
          Number of rooms: 4 + kitchen<br>
          Size: 750 square feet<br>
          Rates:90lacs<br>
          Price: Available on request,<br>
        </p>
      </div>
    </div>
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">
          <img src="./assets/image15.jpg" alt="no img" width="800px" height="500px">
          
          Property No:79715,<br>
          Number of rooms: 3 + kitchen<br>
          Size: 750 square feet<br>
          Rates:1cr<br>
          Price: Available on request,<br>
        </p>
      </div>
    </div>
  </div>
</body>
</html>
