<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="row">
        <div class="col-sm-4 bg-light">
        <h1 style="font-style: italic;">
            ABOUT US
        </h1>
        </div>
        <div class="col-sm-8 bg-light">
            <h6 style="font-style: oblique;color: orangered;">
                Real estate economics is the application of economic techniques to real estate markets. It tries to describe, explain, and predict patterns of prices, supply, and demand. The closely related fields of housing economics is narrower in scope, concentrating on residential real estate markets as does the research of real estate trends focus on the business and structural changes impacting the industry.<br>
                Both draw on partial equilibrium analysis (supply and demand), urban economics, spatial economics, extensive research, surveys and finance.
            </h6>
        </div>
    </div>
    <div class="row" style="width: 2500px; height: 700px;">
        <div class="col-sm-6 bg-light">
        <h1 style="font-style: italic;">
            <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./assets/image5.jpg" alt="no img" width="1900" height="700">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/image10.jpg" alt="no img" width="1900" height="700">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/image15.jpg" alt="no img" width="1900" height="700">
                  </div>
                </div>
                
                <!-- Left and right controls -->
                <a class="carousel-control-prev" routerLink="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" routerLink="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
        </h1>
        </div>
        <div class="col-sm-2 bg-light">
            <h6 style="font-style: oblique;color: orangered;">
                Real estate economics is the application of economic techniques to real estate markets. It tries to describe, explain, and predict patterns of prices, supply, and demand. The closely related fields of housing economics is narrower in scope, concentrating on residential real estate markets as does the research of real estate trends focus on the business and structural changes impacting the industry. Both draw on partial equilibrium analysis (supply and demand), urban economics, spatial economics, extensive research, surveys and finance.<br>
                This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.<br>
                The owner/user, owner, and renter comprise the demand side of the market, while the developers and renovators comprise the supply side. In order to apply simple supply and demand analysis to real estate markets a number of modifications need to be made to standard microeconomic assumptions and procedures. In particular, the unique characteristics of the real estate market must be accommodated. These characteristics include:<br>
                Talk about your team and what services you provide. Tell your visitors the story of how you came up with the idea for your business and what makes you different from your competitors. Make your company stand out and show your visitors who you are.<br>
                ​This is a great space to write long text about your company and your services. You can use this space to go into a little more detail about your company. 
            </h6>
        </div>
    </div>
</body>
</html>
