.card-columns{
    border-left: 3%;
    margin-left: 3%;
    padding-left: 3%;
    border-right: 10%;
    margin-right: 10%;
    padding-right: 10%;

}
.img{
    border-left: 3%;
    margin-left: 3%;
    padding-left: 3%;
}