<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="card-columns"style="width: 250%; height: 300%;">
        <div class="card bg-light">
          <div class="card-body text-center">
            <p class="card-text">
                <div class="row" style="height: 10%;">
                    <div class="col-sm-3">
                        <h1>
                            CONTACT US
                        </h1>
                    </div>
                    <div class="col-sm-3">
                        <h3>
                        500 Terry Francois Street<br>
                        San Francisco, CA  94158<br>
                        info@mysite.com
                        </h3>
                    </div>
                    <div class="col-sm-3">
                        <h3>
                        Tel: 123-456-7890<br>
                        Fax: 123-456-7890
                        </h3>
                    </div>
                </div>
          </div>
        </div>
    </div>
    <div class="container">
        <div class="card bg-info">
          <div class="card-body">
            <div class="container">
                <form action="/action_page.php">
                  <div class="row">
                    <div class="col">
                      <input type="text" class="form-control" id="email" placeholder="Enter email" name="email">
                    </div>
                    <div class="col">
                      <input type="text" class="form-control" placeholder="Enter name" name="name">
                    </div>
                    <div class="col">
                        <input type="number" class="form-control" placeholder="Enter number" name="number">
                      </div>
                  </div>
                  <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </form>
              </div>
              
          </div>
        </div>
    </div>
    <img src="./assets/image27.jpg" alt="no img"style="width: 100%;border: left 3%;margin: left 3%;padding: left 3%;">
</body>
</html>
