<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="card-deck" style="height: 1000px;">
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">
          <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>
            
            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/image4.jpg" alt="no img" width="700" height="500">
              </div>
              <div class="carousel-item">
                <img src="./assets/image6.jpg" alt="no img" width="700" height="500">
              </div>
              <div class="carousel-item">
                <img src="./assets/image7.jpg" alt="no img" width="700" height="500">
              </div>
            </div>
            
            <!-- Left and right controls -->
            <a class="carousel-control-prev" routerLink="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" routerLink="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>
          </div>
        
          <h3>  
          New properties for sales
          </h3>
          <h6>
          Do you have a lot of expenses, work and hassle ahead of you to sell your house the traditional way? If you’re like most people, you may have to spend money on those repairs you never got around to fixing up. You may not have time to clean up, de-clutter the house or pay to put excess furniture in storage.After you take the time and expense to do all that, then you have to be ready for strangers to walk through your house for showings at a moment’s notice. Especially these days, do you feel comfortable with that? 
          </h6>
      </div>
    </div>  
    <div class="card bg-light">
      <div class="card-body text-center">
        <p class="card-text">
              <h3>  
              New properties for Rent
              </h3>
              <h6>
              Do you have a lot of expenses, work and hassle ahead of you to sell your house the traditional way? If you’re like most people, you may have to spend money on those repairs you never got around to fixing up. You may not have time to clean up, de-clutter the house or pay to put excess furniture in storage.After you take the time and expense to do all that, then you have to be ready for strangers to walk through your house for showings at a moment’s notice. Especially these days, do you feel comfortable with that? 
              </h6>
              <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
                
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="./assets/image3.jpg" alt="no img" width="700" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/image8.jpg" alt="no img" width="700" height="500">
                  </div>
                  <div class="carousel-item">
                    <img src="./assets/image9.jpg" alt="no img" width="700" height="500">
                  </div>
                </div>
                
                <!-- Left and right controls -->
                <a class="carousel-control-prev" routerLink="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" routerLink="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              </div>
      </div>
    </div>
  </div>
</body>
</html>